<div id="home">
    <div id="homepage_bot">
        <iframe id="botkit_client" src="/chat.html"></iframe>
    </div>

    <div id="welcome">
        <h1>I'm a bot!</h1>
        <p><a href="/chat.html">Make me full screen</a></p>
        <p><a href="/embed">Embed me in a web site or add me Slack</a></p>
        <p><a href="https://github.com/howdyai/botkit-starter-web">Starter Kit Documentation</a></p>
        <p><a href="https://botkit.ai/docs">Botkit SDK Documentation</a></p>
    </div>
    <div>
    	<a href="/login"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>

    </div>
</div>
<script src="/embed.js"></script>
<script>
  Botkit.boot({});
</script>
